@import '../../../sassStyles/mixins';
@import '../../../sassStyles/variables';

.nav {
  @include responsiveMax($phone) {
    padding: 2rem 4rem;
  }
  display: flex;
  justify-content: space-between;
  padding: 4rem 6rem;
  @include responsiveMax($table-land) {
    display: none;
  }

  &__group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50rem;
    font-size: 1.5rem;

    & > * {
      margin-right: 2rem;
    }

    & a {
      text-decoration: none;
      color: $grayishViolet;

      &:hover {
        color: $veryDarkViolet;
        transition: all 0.25s ease-in;
      }
    }
  }

  & button {
    font-size: 1.5rem;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__mobile {
    padding: 2rem;
    justify-content: space-between;
    position: relative;
    display: none;
    @include responsiveMax($table-land) {
      display: flex;
    }
    @include responsiveMax($phone) {
      padding: 2rem 1rem;
    }

    & .hamburger-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 30px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: all 0.25s ease-out;
      & span {
        width: 30px;
        height: 5px;
        background-color: $grayishViolet;
        transition: all 0.25s ease-out;
      }

      &.active {
        transition: all 0.25s ease-out;
        & span:nth-child(1) {
          transform: rotate(-45deg) translate(-9px, 0px);
          transition: all 0.25s ease-out;
        }
        & span:nth-child(2) {
          display: none;
        }
        & span:nth-child(3) {
          transform: rotate(45deg) translate(-8px, -1px);
          transition: all 0.25s ease-out;
        }
      }
    }

    &-content {
      position: absolute;
      width: 70%;
      height: 30rem;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 10px;
      padding: 2rem;
      text-align: center;
      display: none;
    }

    &.active {
      .nav__mobile-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: $darkViolet;
        animation: fadeInRight 0.2s ease-out;
      }

      .nav__mobile-content-line {
        border: none;
        border-top: 1px solid $gray;
      }

      .nav__mobile-group {
        height: 40%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        & a {
          text-decoration: none;
          color: white;
          font-size: 1.5rem;

          &:hover {
            transition: all 0.2s ease-out;
            color: $gray;
          }
        }
      }
    }
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}
