.spinner {
  width: 5rem;
  transform: translate(0, -50%);
  z-index: 3;
  height: 5rem;
  animation: rotate 1s infinite;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
