@import '../../../sassStyles/mixins';
@import '../../../sassStyles/variables';

.main {
  background-color: #f0f1f6;
  min-height: 50rem;
  position: relative;

  &__inputLink-container {
    @include responsiveMax($table-land) {
      height: 9rem;
    }

    height: 6rem;
    position: relative;
  }

  &__card-container {
    @include responsiveMax($table-land) {
      width: 90%;
    }

    @include responsiveMax($phone) {
      // height: auto;
    }

    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__card-link {
    @include responsiveMax($table) {
      &-original {
        width: 100%;
        overflow: scroll;
        padding-top: 1rem;
        white-space: nowrap;
      }

      flex-direction: column;
      justify-content: center;
      align-content: center;
      height: auto;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
    margin: 0 auto;
    height: 5rem;
    background-color: whitesmoke;
    font-size: 1.2rem;

    &-group {
      @include responsiveMax($table) {
        &::before {
          background-color: $gray;
          content: '';
          position: relative;
          height: 0.2rem;
          width: 100%;
          top: 0;
          margin: 0.5rem 0;
        }
        .short-link {
          width: 100%;
          font-size: 1.7rem;
          margin-bottom: 0.5rem;
        }

        button {
          width: 100%;
        }

        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: auto;
        width: 100%;
        padding: 1rem 0;
        // position: relative;
      }
      display: flex;
      align-items: center;

      p {
        padding-right: 1.5rem;
        color: $cyan;
        font-size: 1.2rem;
      }
    }
  }

  &__preFooter {
    background: url('../../../images/bg-shorten-desktop.svg'), $darkViolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    h2 {
      color: whitesmoke;
      font-size: 4rem;
      padding-bottom: 2rem;
      @include responsiveMax($table-land) {
        font-size: 3rem;
      }

      @include responsiveMax($phone) {
        font-size: 2rem;
      }
    }
  }
}
